$colors: (
	"blue": #1976d2,
	"low-white": #dedede,
	"grey": rgb(36, 36, 36),
	// "title-color": #52628B,
	"title-color": #5c6b91,
	"dark": #262626,
	"lightblue": #e7eeff,
	"skyblue": #0531921f,
);

$fonts: (
	"smaller": 0.75em,
	"small": 1em,
	"medium": 1.3em,
	"large": 1.6em,
	"larger": 2em,
	"xx-large": 2.5em,
);

$shadow: (
	"card-shadow": 0 4px 10px 0 rgba(0, 0, 0, 25%),
	"normal-shadow": 0 2.5px 4px 0 rgba(0, 0, 0, 25%),
);

$transition: all 0.2s ease-in-out;
