@import "./mixins";
@import "./variables";

// ----------- Form stylesheet-----------------
// --------------------------------------------

.form-box {
	flex-grow: 1;
	height: 100vh;
	overflow: auto;
	width: auto;
	padding: 3em;
	position: relative;
	display: grid;
	place-items: center;

	.form-group {
		width: 100%;
		max-width: 100%;
	}

	.form-label {
		font-weight: 600;
		// text-align: center;
		margin-bottom: 3em;
		font-size: map-get($map: $fonts, $key: "large");
	}

	.form-control {
		margin-block: 1em;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		width: 100%;

		.label-text {
			font-weight: 500;
			font-size: map-get($map: $fonts, $key: "small");
			color: map-get($map: $colors, $key: "blue");
		}

		.text-control {
			font-family: Poppins;
			padding: 0.5em 1.5em;
			width: 100%;
			background: #fff;
			font-size: map-get($map: $fonts, $key: "small");
			max-width: 90%;
			border-radius: 50px;
			border: 2px solid map-get($map: $colors, $key: "blue");
		}
	}

	.action-control {
		width: fit-content;
		// margin: auto;
		margin-block: 2em;
		.submit-btn {
			padding: 1em;
			background: map-get($map: $colors, $key: "blue");
			color: #fff;
			text-align: center;
			width: 150px;
			font-weight: 500;
			font-size: map-get($map: $fonts, $key: "small");
			border-radius: 30px;
		}
	}

	.link {
		margin-block: 1em;

		.text span:first-child {
			display: flex;
			gap: 0.3em;
			flex-wrap: wrap;
			font-size: 0.9em;
		}

		a {
			color: map-get($map: $colors, $key: "blue");
			font-weight: 500;
		}
	}
}

// ----------------- Login Component StyleSheet-------------------
// ---------------------------------------------------------------

.auth-wrapper {
	display: flex;
	height: 100vh;
	overflow: hidden;

	.sideimage {
		position: relative;
		width: 600px;
		max-width: 100%;
	}
}

.login-wrapper {
	@include media_950 {
		position: relative;

		.sideimage {
			width: 100vw;
			height: 100vh;
			position: absolute;
		}
		.form-box {
			width: 500px;
			max-width: 90%;
			flex-grow: 0;
			background: #fff;
			height: 90%;
			border-radius: 15px;
			margin: auto;

			@include media_400 {
				padding-inline: 1em;
			}

			.text-control {
				width: 95%;
			}
		}
	}
}
// ------------------Register Component StyleSheet Edit -----------------
// ----------------------------------------------------------------------

.register-wrapper {
	.form-box {
		// background: #e7eeff;
		background: #fff;
		flex-grow: 0;
		width: 500px;
		border-radius: 15px;
		max-width: 90%;
		padding: 3em;
		margin: auto;
		height: 90%;

		@include media_400 {
			padding-inline: 1em;
		}
		.form-label {
			.secondary-text {
				font-size: 0.6em;
				font-weight: 400;
				color: map-get($map: $colors, $key: "black");
			}
		}
	}
}
.page-bg-image-container {
	position: absolute;
	height: 100vh;
	width: 100vw;

	.bgimage {
		filter: brightness(50%);
	}
}
